@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap");

@font-face {
  font-family: "Yadon Bold";
  src: url("../css/fonts/Yadon-Bold.woff2") format("woff2"),
    url("../css/fonts/Yadon-Bold.woff") format("woff"),
    url("../css/fonts/Yadon-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yadon Black";
  src: url("../css/fonts/Yadon-Black.woff2") format("woff2"),
    url("../css/fonts/Yadon-Black.woff") format("woff"),
    url("../css/fonts/Yadon-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yadon Medium";
  src: url("../css/fonts/Yadon-Medium.woff2") format("woff2"),
    url("../css/fonts/Yadon-Medium.woff") format("woff"),
    url("../css/fonts/Yadon-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-primary: #1b1c1e;
  --text-light-gray: #303030;
  --bg-color-light: #fff;

  --text-white: #fff;
  --text-gray: #c4c4c4;
  --bg-color-dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  word-spacing: 1px;
  line-height: 1.5;
  background: var(--bg-color-light);
}

a,
header a i {
  font-family: "Roboto", sans-serif;
  color: var(--text-light-gray);
  display: inline-block;

  text-decoration: none;
  letter-spacing: 1px;
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}

p {
  color: var(--text-light-gray);
  font-size: 13px;
  word-spacing: 1px;
  letter-spacing: 0.6px;
  font-weight: 400;
}

/* UTILITIES */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  justify-content: center;
}

.current {
  color: var(--text-primary);
  opacity: 1;
}

.subtitle {
  color: var(--text-light-gray);
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

/* STYLING */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: right;
  position: sticky;
  top: 0;
  padding-right: 3rem;
  letter-spacing: 2px;
}

.logo {
  font-family: "Yadon Bold";
  color: var(--text-primary);
  font-size: 1.4rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  line-height: 1.2;
  opacity: 1;
  display: inline-block;
}

header a {
  width: fit-content;
  margin-left: auto;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  font-family: "Yadon Bold";
  font-size: 1.2rem;
  letter-spacing: 3px;
}

header a:hover {
  opacity: 1;
}

header .instagram-QR {
  width: 4rem;
  display: block;
  margin-left: auto;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

header a i:hover + .instagram-QR {
  visibility: visible;
}

header .footer p {
  font-size: 12px;
  line-height: 1.2;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

/* IMAGES */
#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#images img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

#images .zoom-on-hover {
  overflow: hidden;
}

#images .zoom-on-hover:hover img {
  transform: scale(1.1);
}

/* .reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: all 700ms ease-out;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } */

/* FOOTER */
footer {
  display: none;
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  header {
    transform: translateX(-200px);
    opacity: 0;
    animation: slideInFromLeft 750ms ease-in-out forwards;
    -moz-animation: slideInFromLeft 750ms ease-in-out forwards;
    -webkit-animation: slideInFromLeft 750ms ease-in-out forwards;
  }

  main {
    transform: translateX(200px);
    opacity: 0;
    animation: slideInFromRight 750ms ease-in-out 850ms forwards;
    -moz-animation: slideInFromRight 750ms ease-in-out 850ms forwards;
    -webkit-animation: slideInFromRight 750ms ease-in-out 850ms forwards;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 2.5fr;
    padding: 0 2rem;
  }

  header .instagram-QR,
  header a i:hover + .instagram-QR {
    visibility: hidden;
  }

  header a:hover:not(.current):not(.logo) {
    opacity: 0.7;
  }

  header .footer p {
    font-size: 10px;
  }

  #images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  #images img {
    width: 100%;
    border-radius: 3px;
  }

  #images .zoom-on-hover:hover img {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  main {
    padding: 1.5rem 0;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  header {
    padding: 0;
    height: auto;
    position: static;
  }

  .logo {
    font-size: 1.3rem;
    margin: 3rem auto 1.5rem;
    max-width: 10ch;
    text-align: center;
  }

  nav ul {
    display: none;
  }

  nav ul li a {
    padding: 0.5rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  nav ul li a:hover {
    opacity: 0.7;
  }

  header .instagram-QR,
  header .footer,
  header a:nth-child(3) {
    display: none;
  }

  #images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  #images img {
    border-radius: 3px;
  }

  #images .zoom-on-hover:hover img {
    transform: scale(1);
  }

  footer {
    display: block;
    background: rgba(224, 240, 255, 0.527);
  }

  footer .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  footer .container .footer-mobile-text p {
    font-size: 0.6rem;
    color: var(--text-primary);
  }

  footer .container a i {
    color: var(--text-primary);
  }
}
