@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap");

@font-face {
  font-family: "Yadon Bold";
  src: url("../css/fonts/Yadon-Bold.woff2") format("woff2"),
    url("../css/fonts/Yadon-Bold.woff") format("woff"),
    url("../css/fonts/Yadon-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yadon Black";
  src: url("../css/fonts/Yadon-Black.woff2") format("woff2"),
    url("../css/fonts/Yadon-Black.woff") format("woff"),
    url("../css/fonts/Yadon-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yadon Medium";
  src: url("../css/fonts/Yadon-Medium.woff2") format("woff2"),
    url("../css/fonts/Yadon-Medium.woff") format("woff"),
    url("../css/fonts/Yadon-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-black: #1b1c1e;
  --text-light: rgba(48, 48, 48, 0.7);
  --bg-white: #fff;

  --text-white: #fff;
  --text-gray: rgba(196, 196, 196, 0.7);
  --bg-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  word-spacing: 1px;
  line-height: 1.5;
  background: var(--bg-white);
}

a,
header a i {
  font-family: "Roboto", sans-serif;
  color: var(--text-light);
  display: inline-block;

  text-decoration: none;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
}

p {
  color: var(--text-light);
  font-size: 13px;
  letter-spacing: 0.6px;
  font-weight: 400;
}

/* UTILITIES */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  justify-content: center;
}

.current {
  color: var(--text-black);
}

.subtitle {
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

/* STYLING */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: right;
  position: sticky;
  top: 0;
  padding-right: 3rem;
  letter-spacing: 2px;
}

.logo {
  font-family: "Yadon Bold";
  color: var(--text-black);
  font-size: 1.4rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  line-height: 1.2;
  display: inline-block;
}

header a {
  width: fit-content;
  margin-left: auto;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  font-family: "Yadon Bold";
  font-size: 1.2rem;
  letter-spacing: 3px;
}

nav ul .fa-solid {
  display: none;
}

header a:hover,
header a .fa-instagram:hover {
  color: var(--text-black);
}

header .instagram-QR {
  width: 4rem;
  display: block;
  margin-left: auto;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

header a .fa-instagram:hover + .instagram-QR {
  visibility: visible;
}

header .footer p {
  font-size: 12px;
  line-height: 1.2;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

/* IMAGES */
#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#images img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

#images .zoom-on-hover {
  overflow: hidden;
}

#images .zoom-on-hover:hover img {
  transform: scale(1.1);
}

/* ANIMATIONS */

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
  .logo {
    transform: translateX(-100px);
    opacity: 0;
    animation: slideInFromLeft 500ms ease-in-out forwards;
    -moz-animation: slideInFromLeft 500ms ease-in-out forwards;
    -webkit-animation: slideInFromLeft 500ms ease-in-out forwards;
  }

  nav {
    transform: translateX(-100px);
    opacity: 0;
    animation: slideInFromLeft 500ms ease-in-out 500ms forwards;
    -moz-animation: slideInFromLeft 500ms ease-in-out 500ms forwards;
    -webkit-animation: slideInFromLeft 500ms ease-in-out 500ms forwards;
  }

  header > a {
    transform: translateX(-100px);
    opacity: 0;
    animation: slideInFromLeft 500ms ease-in-out 1s forwards;
    -moz-animation: slideInFromLeft 500ms ease-in-out 1s forwards;
    -webkit-animation: slideInFromLeft 500ms ease-in-out 1s forwards;
  }

  header .footer {
    transform: translateX(-100px);
    opacity: 0;
    animation: slideInFromLeft 500ms ease-in-out 1.6s forwards;
    -moz-animation: slideInFromLeft 500ms ease-in-out 1.6s forwards;
    -webkit-animation: slideInFromLeft 500ms ease-in-out 1.6s forwards;
  }

  main {
    transform: translateX(100px);
    opacity: 0;
    animation: slideInFromRight 500ms ease-in-out 2s forwards;
    -moz-animation: slideInFromRight 500ms ease-in-out 2s forwards;
    -webkit-animation: slideInFromRight 500ms ease-in-out 2s forwards;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 2.5fr;
    padding: 0 2rem;
  }

  header .instagram-QR,
  header a .fa-instagram:hover + .instagram-QR {
    visibility: hidden;
  }

  header a .fa-instagram:hover {
    color: var(--text-light);
  }

  header a:hover:not(.current):not(.logo) {
    color: var(--text-light);
  }

  header .footer p {
    font-size: 10px;
  }

  #images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  #images img {
    border-radius: 3px;
  }

  #images .zoom-on-hover:hover img {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    background-color: var(--bg-black);
  }

  main {
    padding: 1.5rem 0 5.5rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  header {
    padding: 0;
    height: auto;
    position: static;
  }

  header ul li a,
  header ul li a:hover {
    color: var(--text-white);
  }

  header a:hover:not(.current):not(.logo) {
    color: var(--text-white);
  }

  .logo {
    font-size: 1.3rem;
    margin: 3rem auto 1.5rem;
    max-width: 10ch;
    text-align: center;
    color: var(--text-white);
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.918);
    padding: 2px;
    z-index: 2;
  }

  /* .hamburger {
    display: block;
    top: 1.5rem;
  } */

  nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 0.7rem;
    letter-spacing: 0;
    opacity: 1;
    margin: auto;
    z-index: 1;
  }

  nav ul .fa-solid,
  .current {
    display: block;
    color: var(--text-white);
  }

  nav ul li:nth-child(1),
  nav ul li:nth-child(2) {
    border-right: 1px solid var(--text-light);
  }

  nav ul li a:hover,
  nav ul li a i:hover {
    opacity: 1;
    color: var(--text-white);
  }

  header .instagram-QR,
  header .footer,
  header a:nth-child(3) {
    display: none;
  }

  #images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  #images img {
    border-radius: 3px;
  }

  #images .zoom-on-hover:hover img {
    transform: scale(1);
  }
}
